.PhoneInput {
  display: flex;
  align-items: center;
  border: 1px solid hsl(var(--input));
  border-radius: 0.375rem;
  padding: 0.5rem;
}

.PhoneInputCountry {
  margin-right: 0.5rem;
}

.PhoneInputInput {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
}

.PhoneInputCountrySelect {
  border: none;
  background-color: transparent;
}

